/* ================= ALL ================= */

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.w-full {
  max-width: 100%;
}

.row {
  display: flex;
  /* margin: 0 -0.9375rem; */
}

/* .col {
    padding: 0 0.9375rem;
  } */

a {
  text-decoration: none;
}

/* ===================== HEADER ==================== */

header {
  background-color: #353d41;
  padding: 1rem 0;
}

header .container .row {
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

header .container .row .col .icon a,
header .container .row .col .call-number a {
  color: #ffffff;
}

header .container .row .col .icon a {
  margin-left: 1.5rem;
}

/* ===================== NAVBAR ==================== */

.navbar {
  padding: 1rem 0;
}

.navbar .container .row {
  justify-content: space-between;
  align-items: center;
}

.navbar .container .row .logo b {
  font-size: 1.875rem;
  color: #8269f8;
}

.navbar .container .row .logo {
  color: #898f96;
  font-size: 1.75rem;
  margin-left: 1rem;
  letter-spacing: 1.2px;
}

.navbar .row .menu {
  padding-right: 0.625rem;
}

.navbar .row .menu a {
  font-weight: 700;
  padding-left: 1.25rem;
  color: #363e42;
  font-size: 14px;
}

.navbar .row .menu a:hover {
  color: #8269f8;
}

/* ===================== CAROUSEL ==================== */

.carousel {
  background-image: url(../images/b1.jpg);
  height: 43rem;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  /* --- flex box -- */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel h1 {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-weight: 400;
}

.carousel p {
  font-size: 0.875rem;
  text-align: center;
  line-height: 1.6rem;
  margin: 1rem 0 1.5rem 0;
}

.carousel .button-carousel .about-us,
.carousel .button-carousel .read-more {
  width: 7rem;
  height: 2.5rem;
  color: #ffffff;
  background: none;
  border: 3px solid white;
}

.carousel .button-carousel button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.carousel .button-carousel .read-more {
  background: #8067f8;
  border: none;
  margin-left: 0.3125rem;
}

/* ===================== WHAT YOU GET ==================== */

.what-you-get {
  padding: 3rem 0;
  text-align: center;
}

.what-you-get .container {
  position: relative;
}

.what-you-get .container .title {
  margin-bottom: 2rem;
}

.what-you-get .container .title h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.what-you-get .row {
  margin-top: 6.25rem;
}

.what-you-get .container .title p,
.what-you-get .row .col span {
  font-size: 0.875rem;
}

.what-you-get .row .col {
  border-right: 1px solid #e8e8e8;
}

.what-you-get .row .border-none {
  border: none;
}

.what-you-get .row .col i {
  color: #f97c68;
  font-size: 1.875rem;
  padding-bottom: 0.625rem;
}

.what-you-get .row .col p {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 0.625rem;
}

.what-you-get .row .col span {
  padding: 1rem 0.625rem;
  color: #777777;
}

.what-you-get .container .line {
  width: 53.125rem;
  height: 1px;
  background-color: #e8e8e8;
  position: absolute;
  top: 9.375rem;
  left: 9.375rem;
}

/* ===================== WE MAKE THE BEST ==================== */

.intro-1 {
  background-image: url(../images/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 12.5rem;
  width: 100%;
  position: relative;
}

.intro-1 .container .row {
  justify-content: space-around;
}

.intro-1 .container .row h1 {
  color: #ffffff;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.3125rem;
  position: absolute;
  top: 3.75rem;
  left: 21.875rem;
}

.intro-1 .container .row button {
  background-color: #8269f8;
  color: #ffffff;
  border: none;
  width: 8rem;
  height: 2.5rem;
  position: absolute;
  top: 3.75rem;
  right: 20rem;
}

.intro-1 .container .row button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/* ===================== WE ARE ALWAYS ==================== */

.intro-2 {
  padding: 3rem 0;
  text-align: center;
}

.intro-2 .container .title {
  margin-bottom: 2rem;
}

.intro-2 .container .title h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.intro-2 .row {
  margin-top: 5.8rem;
}

.intro-2 .container .title p,
.intro-2 .row .col span {
  font-size: 0.875rem;
  color: #777777;
}

.intro-2 .row .col {
  width: calc(100% / 3);
}

.intro-2 .row .col h3 {
  color: #f97c68;
  font-size: 2.5rem;
}

.intro-2 .row .col p {
  font-weight: bold;
  font-size: 1.25rem;
  padding-top: 1.25rem;
}

.intro-2 .col span {
  padding: 1rem 0.625rem;
}

/* ===================== OUR MAIN SERVICES ==================== */

.our-main-services {
  padding: 3rem 0;
  text-align: center;
  background-image: url(../images/3.jpg);
  background-size: cover;
}

.our-main-services .container .title {
  margin-bottom: 2rem;
  color: #ffffff;
}

.our-main-services .container .title h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.our-main-services .container .title p {
  font-size: 0.875rem;
}

.our-main-services .row {
  margin-top: 5.8rem;
  flex-wrap: wrap;
}

.our-main-services .row .col {
  width: calc(100% / 3);
  padding: 3rem 1.25rem;
}

.our-main-services .row .col i {
  font-size: 1.875rem;
  padding-bottom: 0.625rem;
}

.our-main-services .row .col p {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.our-main-services .row .col span {
  font-weight: 600;
}

.our-main-services .row .col-1 {
  background-color: #f97c68;
  color: #ffffff;
}

.our-main-services .row .col-2 {
  background-color: #ffffff;
}

.our-main-services .row .col-2 i {
  color: #f97c68;
}

/* ===================== OUR CUSTOMERS' OPINION ==================== */

.our-customers-opinion {
  padding: 3rem 0;
  text-align: center;
}

.our-customers-opinion .container .title h1 {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.our-customers-opinion .container .title p {
  font-size: 0.875rem;
}

.our-customers-opinion .row {
  margin-top: 3rem;
}

.our-customers-opinion .row .col {
  width: calc(100% / 3);
  padding: 3rem 1.25rem;
}

.our-customers-opinion .row .col:hover {
  border: 1px groove #777777;
}

.our-customers-opinion .row .item img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  border: 4px solid #8269f8;
  margin-bottom: 0.625rem;
}

.our-customers-opinion .row .item p {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

.our-customers-opinion .row .col span {
  font-size: 0.875rem;
  color: #777777;
}

/* ========================= CONTACT ======================= */

.contact {
  padding: 3rem 0;
  background-color: #0b0c11;
  position: relative;
}

.contact .container .row {
  justify-content: space-around;
}

.contact .container .col .item h1 {
  color: #f97c68;
  padding-bottom: 1.25rem;
}

.contact .container .col .item p {
  font-size: 0.875rem;
  color: #777777;
}

.contact .container .col .item p i {
  color: #f97c68;
}

.contact .container .col .item form {
  position: relative;
  margin-top: 1.25rem;
  border: 1px solid #ffffff;
}

.contact .container .col .item input {
  width: 21.875rem;
  height: 2.5rem;
  outline: none;
  background: none;
  color: #ffffff;
  padding-left: 0.3125rem;
}

.contact .container .col .item button {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 19.375rem;
  background-color: #8269f8;
  border: none;
}

.contact .container .col .item button i {
  color: #ffffff;
}

.contact .container .col .item a {
  display: block;
  padding-bottom: 0.3125rem;
  color: #ffffff;
}

.contact .container .col .item-3 p {
  padding-bottom: 0.625rem;
}

.contact .return img {
  width: 1.5625rem;
  position: absolute;
  bottom: -1px;
  right: 1.25rem;
}

/* ========================= FOOTER ======================= */

footer {
  text-align: center;
  background-color: #252525;
  padding: 0.9375rem 0;
}

footer p {
  color: #ffffff;
}

footer strong {
  font-weight: 400;
  text-decoration: underline;
}
